<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
</head>
<body>
<nav>
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'about' %}">About</a> |
    <a href="{% url 'student' %}">Student</a>
</nav>
    <h1>About Me</h1>

    <p><strong>Name:</strong> Nwachukwu precious</p>

    <p>
        I am currently learning Backend Development with Python and Django.
        So far, I have learned how to create virtual environments, install
        Django, create projects and apps, define URLs and views, and render
        HTML templates. I am building practical projects to improve my backend
        development skills and gain experience developing dynamic web
        applications.
    </p>
</body>
</html>